

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 7em;
    color: bisque;
}

.profile-card {
    background-image: url('https://help.nextcloud.com/uploads/default/original/3X/2/3/23cbcf8f59cdfda285a3a922b7677c0fa54f795b.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:bisque;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
}

.profile-info {
    text-align: left;
    margin-bottom: 30px;
    color: #0c0c0c;
}

.profile-info p {
    margin: 10px 0;
    font-size: 18px;
    color: #0e0e0e;
}

.manage-password-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.manage-password-button:hover {
    background: linear-gradient(45deg, #0056b3, #007bff);
    transform: translateY(-2px);
}
