.dashboard {
    padding: 20px;
    background-image: url('https://img.freepik.com/premium-photo/fluid-waves-abstract-geometric-image-texture-pattern-background-wallpaper-smartphone-cover_867671-5580.jpg');
    min-height: 100vh;
  }
  