.dashboard {
    padding: 20px;
    background-image: url('https://img.freepik.com/premium-photo/technology-connection-digital-data-big-data-concept-abstract-lines-dots-connect-background-futuristic-shape-computergenerated-abstract-background-3d-rendering_34629-1221.jpg');
    min-height: 100vh;
  }
  